body {
	background-color: #e4decd; /* bgc#e4decd */
	color: #000000; /* c#000000 */
}
header {
	background-color: #3b2c1f; /* bgc#3b2c1f */
	color: #fff; /* c#fff */
}
nav {
	background-color: #c2b490; /* bgc#c2b490 */
}
h1 {
	margin-bottom: 0; /*mb0 */
}
h2 {
	color: #463f3a; /* c#463f3a */
}
dt {
	color: #463f3a; /* c#436f3a*/
}
.resort {
	color: #463f3a; /* c#436f3a */
}
